wxpython<4.1.0
timeout-decorator  # timeout_decorator on pip
decorator
pyserial<4.0
click<=8.0
appdirs

# Windows (comment out if on Linux)
pywin32
pyinstaller==4.2
pywin32-ctypes  # needed by pyinstaller, on Windows

setuptools>=39.2.0

# Development (uncomment if needed)
# pandas
# matplotlib
